@import "tailwindcss";

@theme{
    --breakpoint-xs:25rem
}

@layer utilities {
  .scrollbar-hide{
    -ms-overflow-style : none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}